/*.darkTransparent {
  position: fixed;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 1);
  z-index: 10;
}*/

#overlay {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.95);
  text-align: center;
  z-index: 1;
}

#overlay img {
  margin-top: 10%;
  max-width: 800px;
}

#overlay p {
  position: relative;
  top: 11px;
  width: 600px;
  margin: auto;
  text-align: left;
}

#large-slide-image {
  position: relative;
  top: 150px;
}

.previous,
.next {
  position: absolute;
  top: 50%;
  margin-top: -50px;
}

.previous {
  left: -40px;
}

.next {
  right: -40px;
}

.close {
  position: absolute !important;
  width: 40px;
  top: -40px;
  right: -40px;
}

.close:hover {
  cursor: pointer;
}

body {
    font-size: 16px;
    color: #999;
}

/* ========== Nav and Search ========== */
nav {
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: #FFFFFF;
  z-index: 1;
}

.nav-search {
  position: relative;
  top: 30px;
  height: 76px;
}

input {
  padding-left: 10px;
  border: 1px solid #D2D2D2;
}

input#search {
  display: block;
  height: 2em;
  margin: 0 auto;
  border-radius: 5px;
}

:placeholder-shown {
  color: #D2D2D2;
}

::-webkit-input-placeholder {
  color: #D2D2D2;
}

::-moz-placeholder {
  color: #D2D2D2;
}

:-ms-input-placeholder {
  color: #D2D2D2;
}

/* ========== Image area ========== */
.image-area {
  position: relative;
  top: 100px;
  width: 200px;
  margin: 0 auto;
}

.image-area ul {
  list-style: none;
  padding-left: 0;
  font-size: 0;
}

.image-area li {
  display: inline-block;
  margin-right: 60px;
  margin-bottom: 60px;
  font-size: 1em;
}

/*@media only screen and (min-width: 769px), only screen and (min-width: 700px) and (orientation: landscape) {
  p {
    font-size: 1em;
  }

  input#search {
    width: 449px;
  }


  .image-area {
    width: 720px;
  }

  .image-area li:nth-child(3n+3) {
    margin-right: 0;
  }

  .image {

  }
}*/

@media only screen and (min-width: 580px) and (orientation: landscape) {
  p {
    font-size: 1em;
  }

  input#search {
    width: 449px;
  }

  /* ========== Image area ========== */
  .image-area {
    width: 460px;
  }

  .image-area li:nth-child(n+1) {
    margin-right: 60px;
  }

  .image-area li:nth-child(2n+2) {
    margin-right: 0;
  }
}

@media only screen and (min-width: 840px) {
  /* ========== Image area ========== */
  .image-area {
    width: 720px;
  }

  .image-area li:nth-child(n+2) {
    margin-right: 60px;
  }

  .image-area li:nth-child(3n+3) {
    margin-right: 0;
  }
}

@media only screen and (min-width: 1100px) {
  /* ========== Image area ========== */
  .image-area {
    width: 980px;
  }

  .image-area li:nth-child(n+3) {
    margin-right: 60px;
  }

  .image-area li:nth-child(4n+4) {
    margin-right: 0;
  }
}
