body {
    font-size: 16px;
    color: #999;
}

/* ========== Nav and Search ========== */
nav {
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: #FFFFFF;
  z-index: 1;
}

.nav-search {
  position: relative;
  top: 30px;
  height: 76px;
}

input {
  padding-left: 10px;
  border: 1px solid #D2D2D2;
}

input#search {
  display: block;
  height: 2em;
  margin: 0 auto;
  border-radius: 5px;
}

:placeholder-shown {
  color: #D2D2D2;
}

::-webkit-input-placeholder {
  color: #D2D2D2;
}

::-moz-placeholder {
  color: #D2D2D2;
}

:-ms-input-placeholder {
  color: #D2D2D2;
}

/* ========== Image area ========== */
.image-area {
  position: relative;
  top: 100px;
  width: 200px;
  margin: 0 auto;
}

.image-area ul {
  list-style: none;
  padding-left: 0;
  font-size: 0;
}

.image-area li {
  display: inline-block;
  margin-right: 60px;
  margin-bottom: 60px;
  font-size: 1em;
}

iframe {
  width: 200px;
  height: 200px;
}

/* ========== Light box overlay (moble) ========== */
.overlay {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.95);
  text-align: center;
  z-index: 1;
}

.overlay-image-area {
  position: relative;
  top: 10px;
  width: 73vw;
  margin: 0 auto;
}

.large-image {
    max-width: 100%;
    margin: 0 auto;
    position: relative;
}

.overlay-image-area p {
  font-size: 0.75em;
}

.overlay-icon {
  position: absolute;
  height: 15px;
  z-index: 1;
}

.previous {
  top: 40%;
  left: 5px;
}

.close {
  top: 5px;
  right: 5px;
}

.next {
  top: 40%;
  right: 5px;
}

.previous,
.next {
  background: rgba(0,0,0,0.1);
  padding: 3px 7px;
  border-radius: 50%;
}

.close:hover,
.previous:hover,
.next:hover {
  cursor: pointer;
}

@media only screen and (min-width: 580px) {
  p {
    font-size: 0.9em;
  }

  input#search {
    width: 449px;
  }

  /* ========== Image area (mobile) ========== */
  .image-area {
    width: 460px;
  }

  .image-area li:nth-child(n+1) {
    margin-right: 60px;
  }

  .image-area li:nth-child(2n+2) {
    margin-right: 0;
  }

  /* ========== Light box overlay (mobile) ========== */
  .overlay-image-area {
    width: 73vw;
  }

  .overlay-image-area p {
    font-size: 0.85em;
  }
}

@media only screen and (min-width: 768px) {

  .overlay-image-area p {
    font-size: 1em;
  }

  .overlay-image-area {
    max-width: 800px;
    top: 10%;
  }

  .overlay-icon {
    height: 25px;
  }

  .previous {
    left: -35px;
  }

  .close {
    top: 0px;
    right: -35px;
  }

  .next {
    right: -35px;
  }
}

@media only screen and (min-width: 840px) {
  /* ========== Image area (display) ========== */
  .image-area {
    width: 720px;
  }

  .image-area li:nth-child(n+2) {
    margin-right: 60px;
  }

  .image-area li:nth-child(3n+3) {
    margin-right: 0;
  }
}

@media only screen and (min-width: 1100px) {
  /* ========== Image area (display) ========== */
  .image-area {
    width: 980px;
  }

  .image-area li:nth-child(n+3) {
    margin-right: 60px;
  }

  .image-area li:nth-child(4n+4) {
    margin-right: 0;
  }
}
